*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#000;

font-family:Georgia;

display:flex;

justify-content:center;

padding:20px;

}

.container{

width:100%;

max-width:450px;

background:#090909;

border:3px solid gold;

border-radius:40px;

padding:25px;

text-align:center;

box-shadow:0 0 20px gold;

}

.badge{

display:inline-block;

background:#d8b84b;

padding:12px 45px;

border-radius:50px;

font-size:20px;

font-weight:bold;

margin-bottom:25px;

}

.profile{

width:230px;

height:230px;

border-radius:25px;

object-fit:cover;

border:5px solid gold;

}

h1{

color:#d8b84b;

font-size:45px;

margin-top:25px;

}

.subtitle{

font-size:28px;

color:#fff;

margin-top:10px;

}

.colors{

display:flex;

gap:15px;

margin:35px 0;

}

.colors div{

flex:1;

padding:22px;

font-size:22px;

font-weight:bold;

border-radius:20px;

color:white;

}

.green{

background:green;

}

.violet{

background:purple;

}

.red{

background:red;

}

.telegram{

display:block;

background:#22d77a;

padding:25px;

border-radius:60px;

font-size:24px;

font-weight:bold;

text-decoration:none;

color:white;

box-shadow:0 0 25px #22d77a;

margin-bottom:30px;

}

.features{

border:2px solid gold;

border-radius:25px;

padding:20px;

text-align:left;

color:white;

font-size:24px;

}

.features p{

margin:18px 0;

}

.timer{

display:flex;

justify-content:center;

gap:30px;

margin:35px 0;

}

.time-box{

width:100px;

padding:20px;

background:#111;

border-radius:15px;

color:white;

}

.time-box span{

display:block;

font-size:42px;

font-weight:bold;

}

.active{

font-size:24px;

color:#aaa;

}

footer{

margin-top:30px;

padding-top:20px;

border-top:1px solid #333;

font-size:22px;

color:#d8b84b;

}
